<main role="main" class="my-auto">
    <section class="jumbotron text-center mb-5">
      <div class="container">
        <h1 class="display-3">CTIC Travel</h1>
        <p class="lead">Descubre el mundo con nuestra plataforma de gestión y reservas de viajes.</p>
        <a (click)="toAdministration()" class="btn btn-primary btn-lg">Ingresa</a>
      </div>
    </section>
  
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h2>¿Qué ofrecemos?</h2>
          <p>En CTIC Travel, te ofrecemos una amplia gama de destinos y planes turísticos para que explores y disfrutes.</p>
        </div>
        <div class="col-md-4 mb-5">
          <h2>Destinos Populares</h2>
          <p>Descubre nuestros destinos más populares y disfruta de experiencias inolvidables.</p>
        </div>
        <div class="col-md-4 mb-5">
          <h2>Reserva Fácil</h2>
          <p>Con nuestro sistema de reserva en línea, puedes reservar tu viaje de manera sencilla y segura.</p>
        </div>
      </div>
    </div>
  </main>
  
  <footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
      <span>© 2023 CTIC Travel</span>
    </div>
  </footer>
  